// Default breakpoints

$break-max-mobile: 767px;
$break-min-mobile: 375px;
$break-tablet: 1023px;
$break-tablet-landscape: 1024px;
$break-min-desktop: 1199px;
$break-medium-desktop: 1366px;
$break-large-desktop: 1600px;

$break-max-height-mobile: 500px;

$break-orientation-portrait: portrait;
$break-orientation-landscape: landscape;


// Default height header

$height-header: 90px;
$height-header-mobile: 45px;

.page-home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./../../assets/img/home-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*
https://meyerweb.com/eric/tools/css/reset/
https://dribbble.com/shots/17035515/attachments/12119517?mode=media
https://65db.fr/en/
*/