@use '../util' as *;

// Default breakpoints

:root{
	--break-max-mobile: 767px;
	--break-min-mobile: 375px;
	--break-tablet: 1023px;
	--break-tablet-landscape: 1024px;
	--break-min-desktop: 1199px;
	--break-medium-desktop: 1366px;
	--break-large-desktop: 1600px;

	--break-max-height-mobile: 500px;

	--break-orientation-portrait: portrait;
	--break-orientation-landscape: landscape;
}


.container{
  max-width: 1160px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

pre,
code{
  background: rgba($color: var(--p-color-6), $alpha: 1.0);
  color: var(p-color-1);
  direction: ltr !important;
  text-align: left !important;
  word-break: break-word;
  padding: 2px 5px;
  border-radius: 5px;
}