@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Poppins:wght@400;900&display=swap');
$poppins-regular: 'Poppins', sans-serif;
$font-code: 'M PLUS 1 Code', sans-serif;

body{
  font-family: var(poppins-regular);
  color: var(p-color-1);
}