/*
* Color variables
*/

// Primary Colors
$p-color-1: #111111;
$p-color-2: #fbd758;
$p-color-3: #fce38a;
$p-color-4: #fdefbc;
$p-color-5: #5e8c61;
$p-color-6: #72bda3;

// // Secondary Colors
// $s-color-1: #FFFFFD;
// $s-color-2: #FFF8DE;
// $s-color-3: #FFCB6D;
// $s-color-4: #FFCD30;

// // Tertiary Colors
// $t-color-1: #BCBDC1;
// $t-color-2: #A8A9AD;
// $t-color-3: #818286;
// $t-color-4: #4B4B46;

// // Other colors
$white: #fff;
// $orange: #EC6500;
// $light-orange: #F2F2F2;
// $blackFooter: rgb(0, 0, 0, 2%);
// $blue: #004C88;
// $gray: #707070;
// $light-gray: #F2F2F2;


// Put any other needed color in here as a variable