.post-structure{
  background-color: rgba($color: #72bda3, $alpha: 0.2);
  position: relative;

  .fullscreen{
    margin: 2vw 2vw 0 2vw;
    background-color: $white;
    min-height: calc(100vh - 2vw);
    border-radius: 5px 5px 0  0;

    header{
      padding-top: 5vw;

      nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2vw;

        h2{
          color: $p-color-2;
          font-weight: 700;
          font-size: 1.5vw;
          letter-spacing: .5ch;
        }

        ul{
          display: flex;
          margin-top: 1.5vw;
  
  
          li{
            position: relative;
            margin: 0 1vw;
  
            a{
              color:$p-color-5;
              text-decoration: none;
              margin-left: 1vw;
  
              &:hover{
                text-decoration: underline;
              }
            }
  
            &::before{
              content: "•";
              position: absolute;
              margin: 0 -1vw;
              left: 0;
              color:$p-color-5;
            }

            &:first-child::before{
              display: none;
            }

            &:first-child{
              margin-left: 0;
              margin-right: 1vw;

              a{
                margin: 0;
              }
            }
          }
        }
      }
    }

    main{
      margin-top: 6vw;

      ul{
        li{
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          background-color: $p-color-4;
          border-radius: 5px;
          padding: 1.3vw;

          margin-bottom: .7vw;

          a{
            text-decoration: none;
            color: $p-color-5;
            font-weight: 700;
            line-height: 1.5;
            position: relative;

            &:hover{
              text-decoration: underline;
            }

            &::after{
              content: '↗';
              position: absolute;
              margin-left: .5vw;
              color: $p-color-1;
            }
          }

          span{
            color: rgba($color: $p-color-5, $alpha: 0.7);
          }
        }
      }
    }
  }
}


