.gulpfile{
  p{
    margin-bottom: 5vw;
    font-size: 1.2vw;

    :last-child{
      margin-left: 1.5vw;
    }
  }
  .steps{
    counter-reset: step;

    .step{
      position: relative;
      padding-left: 5vw;
      margin-bottom: 3vw;

      &::before {
        position: absolute;
        left: 0;
        counter-increment: step; 
        content: counter(step); 
        font-size: 2.5vw;
        color: #B0C7BD;
      }

      h2{
        font-size: 2vw;
      }

      p{
        font-family: "M PLUS 1 Code",sans-serif;
        margin: 1.3vw 0;
        padding: 1.3vw;
        background: rgba($color: #B0C7BD, $alpha: .2);
      }
    }
  }

  code, 
  pre{
    background: rgba($color: #B0C7BD, $alpha: .2);
  }
}