.touch-and-hover{
  text-align: center;
}

.touch-and-hover a{
  color: #2f56b0;
  position: relative;
  text-decoration: none;
  transform: color .4s ease-out;
}

.touch-and-hover a::after{
  border-radius: 1em;
  border-top: .1em solid #2f56b0;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

.touch-and-hover a:hover{
  text-decoration: none;
  color: #457dfb;
}

.touch-and-hover a:hover::after{
  /* right: 0; */
  border-color: #457dfb;
  animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
}

/* animation */

@keyframes anchor-underline {
    0%, 10%{
      left: 0;
      right: 100%;
    }
    40%, 60%{
      left: 0;
      right: 0;
    }
    90%, 100%{
      left: 100%;
      right: 0;
    }
}